.chakra-petch-regular {
    font-family: "Chakra Petch", sans-serif;
    font-weight: 400;
    font-style: normal;
  }

  :root {
    --cor-principal: #380520;
    --cor-secundária: #712e56;
    --cor-destaque: #ff009d;
  }

  body {
    font-family: 'Chakra Petch', sans-serif;
    color: var(--cor-principal);
  }

  h1, h2, h5 {
    color: var(--cor-principal);
    font-weight: 700;
  }

  .lead, .btn-link {
    color: var(--cor-destaque);
    font-weight: 700;
  }

a, .btn-link:hover {
    color: var(--cor-principal);

  }

a:hover {
    color: var(--cor-destaque);
  }